<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dk.aau.netsec.hostage"
    xmlns:tools="http://schemas.android.com/tools"
    android:versionCode="11"
    android:versionName="2.3.4" >

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />


    <permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" android:protectionLevel="signature"/>
    <!-- Required to register a SyncStatusObserver to display a "syncing..." progress indicator. -->
    <uses-permission android:name="android.permission.READ_SYNC_STATS"/>
    <!-- Required to enable our SyncAdapter after it's created. -->
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <!-- Required because we're manually creating a new account. -->
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!--
    	<uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    -->
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false" />

    <uses-feature android:name="android.hardware.wifi.direct" android:required="true"/>

    <application
        android:name="dk.aau.netsec.hostage.HostageApplication"
        android:allowBackup="true"
        android:allowClearUserData="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:installLocation="preferExternal"
        android:label="@string/app_name"
        android:theme="@style/Theme.App"
        android:requestLegacyExternalStorage="true"
        android:vmSafeMode="true"
        android:largeHeap="true">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD5vUfuTVKbAmw2jMX9KTTbKGJ9LOhrPdU" />

        <activity
            android:excludeFromRecents="true"
            android:name="dk.aau.netsec.hostage.ui.activity.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleInstance"
            android:label="@string/app_name"
            android:screenOrientation="fullSensor" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="dk.aau.netsec.hostage.ui.activity.ProfileEditActivity"
            android:label="Edit Profile" >
        </activity>
        <activity
            android:name="dk.aau.netsec.hostage.sync.tracing.TracingSyncActivity"
            android:label="@string/gui_tracing"
            android:theme="@android:style/Theme.Holo.Dialog" >
        </activity>
        <activity
            android:name="dk.aau.netsec.hostage.sync.bluetooth.BluetoothSyncActivity"
            android:label="@string/gui_bluetooth"
            android:theme="@android:style/Theme.Holo.Dialog" >
        </activity>
        <activity
            android:name="dk.aau.netsec.hostage.sync.nfc.NFCSyncActivity"
            android:label="@string/gui_nfc"
            android:theme="@android:style/Theme.Dialog" >
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/dk.aau.netsec.hostage" />
            </intent-filter>
        </activity>

        <service
            android:name="dk.aau.netsec.hostage.Hostage"
            android:exported="false" >
        </service>
        <service
            android:name="dk.aau.netsec.hostage.logging.Logger"
            android:exported="false" >
        </service>
        <service
            android:name="dk.aau.netsec.hostage.sync.tracing.TracingSyncService"
            android:exported="false" >
        </service>
        <service
            android:name="dk.aau.netsec.hostage.logging.LogExport"
            android:exported="false" >
        </service>

        <service
            android:name="dk.aau.netsec.hostage.services.MultiStage"
            android:exported="false" >
        </service>

        <provider
            android:name="dk.aau.netsec.hostage.provider.HostageContentProvider"
            android:authorities="dk.aau.netsec.hostage.provider"
            android:exported="false" >
        </provider>

        <provider
            android:name="dk.aau.netsec.hostage.sync.android.SyncContentProvider"
            android:authorities="dk.aau.netsec.hostage.androidsync"
            android:exported="false" />

        <!--<activity
            android:name=".sync.p2p.P2PSyncActivity"
            android:label="@string/title_activity_p2_psync"
            android:parentActivityName=".ui.activity.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dk.aau.netsec.hostage.ui.activity.MainActivity" />
        </activity>-->

        <receiver
            android:name="dk.aau.netsec.hostage.services.MultiStageAlarm"
            android:enabled="true" >
        </receiver>

        <activity
            android:name="dk.aau.netsec.hostage.sync.wifi_direct.ui.WiFiP2pSyncActivity"
            android:label="@string/title_activity_p2_psync">
        </activity>


        <service android:name="dk.aau.netsec.hostage.sync.android.SyncService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>

        <service android:name="dk.aau.netsec.hostage.sync.android.HostageAccountService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

    </application>

</manifest>