<?xml version="1.0" encoding="UTF-8"?>


<configuration>

    <appender name="file" class="ch.qos.logback.core.FileAppender">
        <file>broker.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%date %-5level [%thread] %logger{10} %msg%n</Pattern>
        </encoder>
    </appender>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <!--
        <appender-ref ref="file" />
        -->
        <appender-ref ref="console"/>
    </root>

</configuration>